@import "components/button.css";
@import "components/header.css";

body {
    height: 200vh;
    background-color: black;
}

.contents-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents__toon {
    height: 1500px;
    width: 60%;
    background-color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 20px;
}

.contents__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}


a {
    text-decoration: none;
    color: black;
}